

<div class="col-xs-6">
		
		
		{{#each acoes}}
		<h1>sss</h1>
		{{/each}}




	<div class="btn-group pull-right">
		<button class="btn btn-default"{{action 'edit' }}>Editar</button>
		<button {{action 'delete'}} class="btn btn-danger" data-toggle="modal"
			data-target="#myModal">deletar</button>
	</div>
	{{#panel-primary title="Album" bootStrapClass="panel panel-success"}} <span
		class="label label-default">Nome: </span> {{nome}} <span
		class="label label-default">Descricao: </span> {{descricao}} {{#if
	deleteMode}}
	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button {{action 'cancelDelete'}} type="button" class="close"
						data-dismiss="modal">
						<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">Album</h4>
				</div>
				<div class="modal-body">Tem certeza que quer deletar este
					registro?</div>
				<div class="modal-footer">
					<button type="button"
						{{action 'cancelDelete'}} class="btn btn-default"
						data-dismiss="modal">Cancelar</button>
					<button type="button"
						{{action 'confirmDelete'}} class="btn btn-primary">Confirmar</button>
				</div>
			</div>
		</div>
	</div>
	{{/if}} {{/panel-primary}}

</div>
{{outlet}}

